@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* ### Primary

- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

### Neutral

- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}


/* HEADER */

header {
    padding: 0 1.25rem;
    min-height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #140033;
}

.logo {
    width: 60vw;
}

.logo img {
    width: 100%;
    height: 100%;
    max-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;
}

#nav-bar ul {
    width: 25vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#nav-bar ul li a {
    text-decoration: none;
    color: #ffcf00;
}


/* HERO */

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.hero {
    margin-top: 2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.text-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    text-decoration: none;
    background-color: #140033;
    color: #ffcf00;
    padding: 12px 15px;
    border-radius: 5px;
}

.img-flex img {
    width: 100%;
    height: 100%;
    max-width: 100rem;
}